header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: $bg-header;
  box-shadow: $shadow;

  nav {
    @extend %container;
    @include flex-container(row, center, space-between);
    height: $header-height;

    ul {
      @include flex-container(row, center, center);
      list-style: none;
    }

    a {
      display: block;
      padding: $spacing-sm $spacing-md;
      border-top: 3px solid transparent;
      border-bottom: 3px solid transparent;
      color: inherit;
      text-decoration: none;
      transition: border-bottom 0.2s ease-in-out;

      &:hover {
        border-bottom: 3px solid $primary-dark;
      }
    }
  }
}

main {
  margin-top: $header-height;
}

.home,
.portfolio,
.blog,
.about,
.contact {
  scroll-margin-top: $header-height;
}
