// Colors
$primary-light: #f4f4f4;
$primary-dark: #473f40;

// Backgrounds
$bg-header: #f4f4f4;
$bg-portfolio: #e1e1e1;
$bg-image-box-grey: #c4c4c4;
$bg-blog: #615550;
$bg-image-box-lightbrown: #c4c4c4;
$bg-about: #e1e1e1;
$bg-contact: #273137;
$bg-footer: #f4f4f4;

// Fonts
$font-family: 'PT Sans', sans-serif;
$font-color: #000;
$font-lg: 32px;
$font-md: 24px;
$font-sm: 16px;

// Spacings
$spacing-sm: 10px;
$spacing-md: 20px;
$spacing-lg: 30px;

// Sizes
$content-width: 1200px;
$header-height: 100px;

// Borders
$border-radius: 10px;

// Shadows
$shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
  rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
