body {
  font-family: $font-family;
  color: $font-color;
  text-transform: uppercase;
}

.text-sm {
  font-size: $font-sm;
  letter-spacing: get-letter-spacing($font-sm, 'sm');
}

.text-md {
  font-size: $font-md;
  letter-spacing: get-letter-spacing($font-md, 'md');
}

.text-lg {
  font-size: $font-lg;
  letter-spacing: get-letter-spacing($font-lg, 'lg');
}

.title-sm {
  @extend .text-sm;
  font-weight: 400;
}

.title-md {
  margin-top: $spacing-sm;
  font-weight: bold;
  font-size: $font-md;
}

.title-lg {
  @extend .text-lg;
  margin-top: $spacing-sm;
}

.para {
  @extend .text-md;
  letter-spacing: get-letter-spacing($font-sm, 'sm');
  text-transform: none;
}
