%btn {
  @include hover-scale();
  padding: $spacing-sm $spacing-md;
  border-radius: $border-radius;
  font-size: $font-md;
  text-transform: uppercase;
}

.btn-primary {
  @extend %btn;
  background-color: $primary-dark;
  color: $primary-light;
}

.btn-primary-sm {
  @extend .btn-primary;
  padding: $spacing-sm $spacing-md;
  font-size: $font-sm;
}
