.portfolio,
.blog,
.about,
.contact {
  padding-bottom: $spacing-lg;
}

// Home
.home {
  background-color: $bg-portfolio;

  img {
    width: 100%;
    height: calc(100vh - $header-height);
  }
}

// Portfolio
.portfolio {
  background-color: $bg-portfolio;

  .projects {
    @include flex-container(row, center, space-between);
    width: 100%;
    margin-top: $spacing-lg;
  }

  .project-box {
    @include hover-scale();
    min-width: get-column-width(4, true);
    min-height: get-column-width(4, true);
    border-radius: $border-radius;
    background-color: $bg-image-box-grey;
  }
}

// Blog
.blog {
  background-color: $bg-blog;
  color: $primary-light;

  .posts {
    @include flex-container(row, center, space-between);
    width: 100%;
    margin-top: $spacing-lg;
  }

  .post-box {
    @include hover-scale();
    min-width: get-column-width(3, true);
    min-height: get-column-width(3, true);
    border-radius: $border-radius;
    background-color: $bg-image-box-lightbrown;
  }
}

// About
.about {
  background-color: $bg-about;

  .details {
    @include flex-container(row, center, center);
    gap: $spacing-lg * 2;
    margin-top: $spacing-md;
  }

  .right-panel {
    @include flex-container(column, flex-start, center);
    gap: $spacing-lg * 2;
  }

  .skills {
    @include flex-container(column, flex-start, center);
    gap: $spacing-sm;

    .skill-box {
      display: inline-block;
      padding: $spacing-sm $spacing-md;
      border-radius: $border-radius;
      margin-right: $spacing-sm;
      background-color: $primary-dark;
      color: $primary-light;
      font-size: $font-md;
    }
  }
}

// Contact
.contact {
  background-color: $bg-contact;
  color: $primary-light;

  .form {
    @include flex-container(column, center, center);
    gap: $spacing-lg;
    margin-top: $spacing-md;
    margin-right: 53px;

    label {
      input {
        height: 50px;
      }
      span {
        top: -25px;
        left: 100px;
      }
    }

    span {
      position: relative;
      padding: 5px;
      background-color: $bg-contact;
    }

    input,
    textarea {
      @include focus-input();
      width: 400px;
      padding-left: $spacing-sm;
      border: 3px solid $primary-light;
      border-radius: $border-radius;
      background-color: $bg-contact;
    }

    .message {
      margin-right: 20px;

      span {
        top: -195px;
        left: 120px;
      }

      textarea {
        height: 200px;
        padding: $spacing-sm;
        resize: none;
      }
    }

    button {
      margin-left: 315px;
      font-weight: bold;
    }
  }
}
